%h2
  Audit Logs

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th
        \#
      %th
        Employee
      %th
        Week Starting
      %th
        Confirmed At
      %th
        Status
  %tbody{id: 'audit_logs'}
    = render @audit_logs

= render partial: 'shared/paginate', locals: { collection: @audit_logs }