%h2
  Audit Logs

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th
        \#
      %th
        Employee
      %th
        Week Starting
      %th
        Confirmed At
      %th
        Status
  %tbody
    = render @audit_logs