%h2
  Employees

%table.table.table-hover
  %thead
    %tr
      %th
        Name
      %th
        Type
      %th
        Added
  %tbody{id: 'employees'}
    - current_user.followers.each do |follower|
      %tr.clickable
        %td
          = follower.full_name
        %td

