%h2
  Followings

%table.table.table-hover
  %thead
    %tr
      %th
        Name
      %th
        Type
      %th
        Added
  %tbody{id: 'employees'}
    - current_user.followed_users.each do |following|
      %tr.clickable
        %td
          = following.full_name
        %td

