%h2
  Employees

%table.table.table-hover
  %thead
    %tr
      %th
        Name
      %th
        Type
      %th
        Added
  %tbody{id: 'employees'}
    - @users.each do |employee|
      %tr.clickable
        %td
          = employee.full_name
        %td
          - if current_user.followed_users.include?(employee)
            .label.label-success
              Following
          - else
            = link_to 'Follow', follow_user_path(employee)
