%h2
  Skills Learned

%table.table.table-hover
  %thead
    %tr
      %th
        Name
      %th
        Type
      %th
        Added
  %tbody{id: 'posts'}
    - @skills.each do |skill|
      %tr.clickable
        %td
          = skill.name
        %td
          = skill.skill_type
        %td
          = skill.created_at

.row
  / Line Chart - Single Series
  .col-xs-6
    = line_chart @skills.group_by_month(:created_at).count
