%h2
  Posts Page

%table.table.table-hover
  %thead
    %tr
      %th
        \#
      %th
        Date
      %th
        Hours
      %th
        Text
      %th
        User
      %th
        Status
  %tbody{id: 'posts'}
    = render @posts

= render partial: 'shared/paginate', locals: {collection: @posts}