.pending-homepage{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #efefef ;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}


.homepage-block{
  margin: 15px 35px 15px 35px;
  padding: 15px;
  background-color: #0082ff;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.pending-details{
  font-weight: 900;
}